<!DOCTYPE html>
<html lang="en">

<head>
  <title>Kent B Carlyle II | JavaScript Developer | Indianapolis, IN</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="css/index.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
    crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:300" rel="stylesheet">
</head>

<body>
  <div class="wrapper">

    <header>
      <nav id="header-nav">
        <span id="navbar-toggle">
          <i id="ham-icon" class="fas fa-bars"></i>
        </span>
        <h2 id="left-nav">Kent B. Carlyle II</h2>
        <ul id="right-nav">
          <li><a href="/">HOME</a></li>
          <li><a href="portfolio/">PORTFOLIO</a></li>
          <li><a href="blog/">BLOG</a></li>
          <li><a href="mailto:kentbcarlyle@gmail.com">CONTACT</a></li>
          <li class="social">
            <a href="https://github.com/kbcsharp"><i class="fab fa-github"></i></a>
          </li>
        </ul>
      </nav>

      <div class="title">
        <h1>JavaScript Developer</h1>
        <h6>Code &#60 &#47 &#62 Make Yourself</h6>
        <a href="https://www.autismspeaks.org/what-autism" target="_blank"><img src="/images/autism.png"></a>
      </div>

    </header>

    <section>
      <div id="s-wrapper">
        <img src="images/headshot.jpg">
        <h3>Hi, my name is Kent and I am a JavaScript developer. I love tech, crypto, and of course - Coding! Please feel
          free to check out my <a href="blog/">blog</a> where I write about my personal programming journey and my next step
          through Eleven Fifty Academy's 12-week JavaScript coding bootcamp.
        </h3>
      </div>
    </section>

    <main>
      <div id="m-wrapper">
        <h4>Projects:</h4>
        <a class="projects" href="https://www.wislerdental.com" target="_blank"><img src="images/wislerDental.png"></a>
      </div>
    </main>

    <footer>
      <h3>"Being the richest man in the cemetery doesn't matter to me. Going to bed at night saying we've done something
        wonderful, that's what matters to me."</br>-Steve Jobs-</h3>

      <nav id="footer-nav">
        <ul id="bottom-nav">
          <li><a href="/">HOME</a></li>
          <li><a href="portfolio/">PORTFOLIO</a></li>
          <li><a href="blog/">BLOG</a></li>
          <li><a href="mailto:kentbcarlyle@gmail.com">CONTACT</a></li>
        </ul>
      </nav>

      <nav id="footer-social-nav">
        <ul id="bottom-social-nav">
          <li><a href="https://github.com/kbcsharp"><i class="footer-icon fab fa-github"></i></a></li>
          <li><a href="mailto:kentbcarlyle@gmail.com"><i class="footer-icon fas fa-envelope"></i></a></li>
          <li><a href="https://twitter.com/kentcarlyleII"><i class="footer-icon fab fa-twitter"></i></a></li>
        </ul>
      </nav>

      <p>&copy 2018 Kent Carlyle II. All rights reserved. The content on this website is owned by me and our licensors. Do
        not copy any content(including images) without my consent.</p>
    </footer>

  </div>

  <script type="text/javascript" src="js/index.js"></script>
</body>

</html>